name: CI-Build

on:
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    uses: tvtphuc-axonivy/github-workflows/.github/workflows/ci.yml@master
    with:
      cspellConfig: cspell.json
