name: CI-Build

on:
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/ci.yml@feature/MARP-3642-How-to-handle-spelling-errors
    with:
      cspellConfig: cspell.json
